*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header {
    background-color: #FFF8F3;
    background-image: url(./img/Ellipse\ 3.png),url(./img/Developer\ \(2\).png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-bottom: 130px;

}
.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.logo {
}
.logo h2 {
  font-size: 45px;
  font-weight: 800;
}
.logo span {
  color: #fd6e0a;
}
.menu {
}
.menu ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.hire-me-btn {
  text-decoration: none;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 20px 35px;
  color: white;
  font-weight: 700;
}


/* banner start */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-content{
    margin-left: 200px;
}
.b-content h2{
    color: #474747;
    margin-bottom: 5px;
    margin-left: 10px;
}
.b-content h1{
    font-size: 85px;
    margin-bottom: 20px;

}
.b-content p{
    margin-bottom: 30px;
}
.button-container{
    display: flex;
    gap: 30px;
}
.cv-btn{

}
.cv-btn i{
    margin-right: 10px;
}
.cv-btn button{
    background-color: #fd6e0a;
    padding: 20px 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.contact-btn{

}
.contact-btn i{
    margin-right: 10px;
}
.contact-btn button{
     background-color: transparent;
    padding: 20px 17px;
    border-radius: 5px;
    cursor: pointer;
    color:#fd6e0a;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
}
.b-img{

}
.b-img img{
    margin-bottom: -5px;
}
/* banner end */
/* section start */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
}
.about-me{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 100px;
}
.about-me-container{
    background-color: white;
    padding: 50px;
    border: 1px solid #000
}
.about-me-description{
    text-align: center;
}
.about-me-description h2{
    margin-bottom: 30px;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.about-me-description p{
    margin-bottom: 30px;
    color: #757575;
}
.about-info{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.info h4{
    text-align: center;
    color: #757575;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.info h3{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
/* section end */
/* what i do start */
.what-i-do{
    margin-bottom: 130px;
}
.W-content{
    text-align: center;
    margin-bottom: 50px;

}
.W-content h2{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.W-content p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.M-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    background: #FFF;
}
.d-box1{
   border-radius: 5px;
   box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
   background: white;
   padding: 30px 33px;
}
.d-box1 img{
   margin-bottom: 30px;
}
.d-box1 h3{
   color: #181818;
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 20px;
}
.d-box1 p{
   color: #757575;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
}
/* what i do end */
/* resume start */
.resume-heading h2{
  text-align: center;
  margin-bottom: 113px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.resume-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 70px;
}
.resume-content{

}
.r-content h3{
    color: #474747;
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 30px;
}
.resume-items{

}
.resume-items h3{
   color: #474747;
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 10px;
}
.resume-items h4{
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 600;
   color: #757575;
}
.resume-items p{
   color: #757575;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   margin-bottom: 30px;
}
.resume-items hr{
   margin-bottom: 30px;
}
.resume-btn{
  text-align: center;
}
.resume-btn i{
    margin-right: 10px;
}
.resume-btn button{
    background-color: #fd6e0a;
    padding: 20px 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
/* resume end */
/* footer start */
footer{
  display: flex;
  background-color: #FFF8F3;
  padding: 130px 230px;
  gap: 100px;
  justify-content: space-between;
}
.footer-column{

}
.footer-column h2{
   color: #181818;
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 20px;
}
.footer-column p{
    color: #757575;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   margin-bottom: 30px;
}
footer input[type="text"], footer input[type="email"],footer textarea{
  display: block;
  background-color: white;
  padding: 18px 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 24px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
footer input[type="text"], footer input[type="email"],footer textarea:focus{
  outline: none;
}
.footer-column{
  width: 50%;
}
.icons a{
  color: #FD6E0A;
  margin-right: 20px;
}
footer input[type="submit"]{
  border: none;
  cursor: pointer;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 40px;
}

/* footer end */